@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates:900');

body 
{
    font: 15px/1.5 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

header
{
    background: #ffffff;
    color: #031424;
    min-height: 70px;
    height: 50px;
}

header #branding 
{
    float: left;
    display: block;
    margin: 10px 0 10px 50px;
    text-transform: uppercase;
    font-size: 10px;
}

header .menu 
{
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
}

header li
{
    display: inline;
    padding: 0 30px 0 20px;
}

header nav 
{
    float: right;
    margin: 10px 50px 10px 1000px;
    display: block;
}

header a
{
    color: #031424;
    text-decoration: none;
    text-transform: uppercase;
}

header #name
{
    color: #cf6766;
    font-family: 'Montserrat Alternates', sans-serif;
}

section
{
    position: relative;
}

section #first-box
{
    width: 770px;
    height: 770px;
    margin: 10px 0 60px 50px;
    background: #cf6766;
    display: absolute;
}

section #greeting 
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 100px;
    font-weight: 900;
    line-height: 1.8;
    text-align: center;
    padding: 0 0 0 100px;
    letter-spacing: 15px;   
    color: #30415d;
    position: absolute;
    top: 30px;
    left: 520px;
}

span.piece
{
    display: block;
}

span.dots
{
    color: #cf6766;
}

section #sec-box
{
    width: 770px;
    height: 770px;
    margin: 100px 40px 90px 830px;
    background: #cf6766;
    display: absolute;
}

#options span {
    display: none;
}

#options {
    display: inline;
    color: #031424;
}

section #intro 
{
    position: absolute;
    top: 10px;
    right: 280px;
    font-size: 30px;
    color: #8eaebd;
    text-transform: uppercase;
}

section #about-me 
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 100px;
    font-weight: 100;
    margin-top: 0;
    line-height: 1;
    text-align: left;
    padding: 0 0 0 50px;
    letter-spacing: 5px;   
    color: #30415d;
    position: absolute;
    top: 0;
    left: 10px;
}

span#dot 
{
    color: #031424
}

#skills 
{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 150px;
}

p#sk
{
    position: absolute;
    right: 840px;
    top: 100px;
    font-size: 30px;
    text-transform: uppercase;
}

#photo 
{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 350px;
    left: 300px;
}
/*

#fonts
{
    position: fixed;
    margin: 350px 0 0 1600px;
}

#fonts #fonts-aw
{
    list-style-type: none;
}

#fonts .fa 
{
    margin-bottom: 15px;
    color: #031424;
}

h1 span .piece 
{
    display: block;
}
*/

